extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    .col
      p(ng-repeat="c in chatHistory track by $index") {{c}}

    .clr
      form
        input(ng-model="message")
        button(ng-click="sendMessage()") Send

  script(src='/javascripts/angular.min.js')
  script(src='/javascripts/socket.io.js')
  script(src='/javascripts/app.js')
  script(src='/javascripts/service.js')
  script(src='/javascripts/client.js')
